NODE_ENV=dev
PORT=3000

ENCRYPTION_KEY=someKey

COOKIE_SECRET_KEY=someSalt

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=1h

POSTGRES_URL=postgresql://admin:postgres@host.docker.internal:54321/development
POSTGRES_PORT=54321
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres
POSTGRES_DB=development

GOOGLE_CLIENT_ID=null
GOOGLE_CLIENT_SECRET=null

EMAIL_HOST=host.docker.internal
EMAIL_SMTP_PORT=1025
EMAIL_HTTP_PORT=8025
EMAIL_USER=admin
EMAIL_PASSWORD=mailhog
EMAIL_FROM_ADDRESS=app@dev.com

REDIS_PORT=6379
REDIS_HOST=host.docker.internal
REDIS_PASSWORD=redisDevPass
REDIS_MAX_MEMORY=256

SENTRY_DNS=https://insert.your.sentry.dns
