{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.test.ts",
    "**/*.spec.ts",
    "src/swagger/**",
    "src/types/**"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html",
    "lcov"
  ],
  "all": true,
  "sourceMap": true,
  "instrument": true
}