<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Welcome, <%= firstName %> <%= lastName %>!</h1>
    <p>To reset your password click at the link below:</p>
    <a href="<%= link %>"><button>Reset Password</button></a>
    </body>
</html>