<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome, <%= firstName %> <%= lastName %>!</h1>
<p>To restore your password click at the link below:</p>
<a href="<%= link %>"><button>Restore password</button></a>
</body>
</html>