<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, <%= firstName %> <%= lastName %>!</h1>
    <p>We are excited to have you on board.</p>
    <p>Your registered email is: <%= email %></p>
    <p>Thank you for joining us!</p>
</body>
</html>